@import url(https://fonts.googleapis.com/css?family=Kameron:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Kalnia:100,200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Kay+Pho+Du:regular,500,600,700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  color: black;
  background-color: #F4F4F4;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

._container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrap {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.header {
  padding: 30px 0px;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header__contact {
  cursor: pointer;
  padding: 13px 12px 10px 12px;
  border: 1.5px solid #171717;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__contact:hover {
  background: #171717;
}
.header__contact:hover .header__icon path {
  fill: white;
}
.header__contact:hover .header__icon-addition {
  fill: black !important;
}

.home {
  position: relative;
  padding: 150px 0px 100px;
}
.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}
.home__title-wrapper {
  position: relative;
}
.home__title {
  max-width: 608px;
  mix-blend-mode: difference;
  font-family: "Kameron", sans-serif;
  font-weight: 700;
  font-size: 115px;
  line-height: 99%;
  letter-spacing: 0.01em;
  margin-bottom: 25px;
  color: #ffffff;
}
.home__title-gif {
  position: absolute;
  bottom: 40px;
  right: 120px;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
.home__circle-1 {
  position: absolute;
  top: -267px;
  left: 233px;
  width: 402px;
  height: 402px;
  border-radius: 50%;
  background-color: #171717;
  z-index: -1;
}
.home__circle-2 {
  position: absolute;
  top: -108px;
  left: -100px;
  width: 245px;
  height: 245px;
  border-radius: 50%;
  background-color: #171717;
  z-index: -1;
}
.home__circle-3 {
  position: absolute;
  top: 300px;
  right: 150px;
  width: 309px;
  height: 309px;
  border-radius: 50%;
  background-color: #171717;
  z-index: -1;
}
.home__button {
  cursor: pointer;
  display: inline-block;
  border: 2px solid #171717;
  padding: 14px 23px;
  -webkit-transition: background-color 0.2s linear, -webkit-transform 0.2s ease;
  transition: background-color 0.2s linear, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, background-color 0.2s linear;
  transition: transform 0.2s ease, background-color 0.2s linear, -webkit-transform 0.2s ease;
}
.home__button:hover {
  background-color: #171717;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.home__button:hover .home__button-text {
  color: white;
}
.home__button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.home__button-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 99%;
  letter-spacing: 0.01em;
  color: #000;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.home__images {
  position: relative;
}
.home__main-image {
  margin-top: -150px;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}
.home__frame-1 {
  position: absolute;
  top: -40px;
  left: -50px;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}
.home__frame-2 {
  position: absolute;
  top: 60px;
  right: 60px;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}
.home__bg {
  position: absolute;
  top: -40px;
  right: 85px;
  z-index: -2;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}
.home__sparkles {
  position: absolute;
  top: -140px;
  left: -140px;
  z-index: 20;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}
.home__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__item {
  min-height: 23px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 99%;
  letter-spacing: 0.01em;
  color: #000 !important;
}
.home__item:hover {
  border-bottom: 3px solid #171717;
}

.header,
.contacts {
  pointer-events: none;
}

.header *,
.contacts * {
  pointer-events: auto;
}

.contacts {
  position: relative;
  padding: 0px 0px 170px 0px;
  background: url("/images/contacts/bg.svg") 0 0px/cover no-repeat;
}
.contacts__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 64px;
}
.contacts__title-decor {
  width: 46px;
  height: 4px;
  background-color: #171717;
}
.contacts__title {
  font-family: "Kay Pho Du", serif;
  font-weight: 600;
  font-size: 48px;
  color: #171717;
}
.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 106px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__message {
  max-width: 745px;
  padding: 35px;
  border: 2px solid #e2e8f0;
  border-radius: 5px;
  backdrop-filter: blur(4px);
  -webkit-box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}
.contacts__message-title {
  font-weight: 500;
  font-size: 32px;
  color: #000;
  margin-bottom: 21px;
}
.contacts__message-text {
  font-weight: 400;
  font-size: 20px;
  color: #171717;
  margin-bottom: 54px;
}
.contacts__info-title {
  font-weight: 400;
  font-size: 24px;
  color: #000;
  margin-bottom: 41px;
}
.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 139px;
  margin-bottom: 55px;
}
.contacts__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}
.contacts__item:hover .contacts__item-icon {
  background-color: #171717;
}
.contacts__item-icon {
  border: 1px solid black;
  padding: 11px 11px;
}
.contacts__item-icon img {
  width: 25px;
}
.contacts__item-title {
  font-weight: 500;
  font-size: 20px;
  color: #171717;
  margin-bottom: 3px;
}
.contacts__item-text {
  font-weight: 400;
  font-size: 16px;
  color: #171717;
}
.contacts__message-button-wrapper {
  display: inline-block;
}
.contacts__message-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-radius: 5px;
  padding: 8px 16px;
  background: #171717;
}
.contacts__message-button:hover {
  -webkit-box-shadow: 0 6px 26px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 6px 26px -5px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.contacts__message-button-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #f4f4f4;
}
.contacts__form {
  min-width: 498px;
  border: 2px solid #e2e8f0;
  border-radius: 5px;
  padding: 25px;
  -webkit-box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}
.contacts__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 18px;
}
.contacts__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #0f172a;
  margin-bottom: 4px;
}
.contacts__input {
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  padding: 8px 56px 8px 12px;
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #171717;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.contacts__input:hover {
  border: 1px solid black;
}
.contacts__input:focus {
  border: 1px solid black;
}
.contacts__input::-webkit-input-placeholder {
  color: #768394;
}
.contacts__input::-moz-placeholder {
  color: #768394;
}
.contacts__input:-ms-input-placeholder {
  color: #768394;
}
.contacts__input::-ms-input-placeholder {
  color: #768394;
}
.contacts__input::placeholder {
  color: #768394;
}
.contacts__textarea-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 18px;
}
.contacts__textarea {
  min-height: 205px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  padding: 8px 12px;
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #171717;
}
.contacts__textarea::-webkit-input-placeholder {
  color: #768394;
}
.contacts__textarea::-moz-placeholder {
  color: #768394;
}
.contacts__textarea:-ms-input-placeholder {
  color: #768394;
}
.contacts__textarea::-ms-input-placeholder {
  color: #768394;
}
.contacts__textarea::placeholder {
  color: #768394;
}
.contacts__form-button {
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  padding: 8px 16px;
  background: #171717;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.contacts__form-button:hover {
  -webkit-box-shadow: 0 6px 26px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 6px 26px -5px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.contacts__form-button-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #f4f4f4;
}
.contacts__scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.footer {
  padding-top: 100px;
}
.footer__upper-content {
  padding: 24px 0px 38px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__timeline-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 106%;
  letter-spacing: 0em;
  color: #282828;
  margin-bottom: 20px;
}
.footer__timeline-container {
  margin-bottom: 30px;
}
.footer__timeline-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 106%;
  letter-spacing: 0em;
  color: #282828;
  margin-bottom: 20px;
}
.footer__timeline-text:last-child {
  margin-bottom: 0;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}
.footer__social {
  cursor: pointer;
}
.footer__nav-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #515151;
  margin-bottom: 18px;
}
.footer__nav-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  color: #000;
  margin-bottom: 2px;
}
.footer__nav-item:hover {
  color: #7c7c7c;
  text-decoration: underline;
}
.footer__nav-item:hover .footer__nav-item-decor {
  background-color: #b6b6b6;
}
.footer__nav-item-decor {
  width: 9px;
  height: 1px;
  background-color: #171717;
}
.footer__nav-item-text {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
}
.footer__directions-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(40, 40, 40, 0.8);
  margin-bottom: 12px;
}
.footer__direction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 367px;
}
.footer__direction-item {
  cursor: pointer;
  border: 1px solid #424046;
  border-radius: 5px;
  padding: 4px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: -0.02em;
  color: #282828;
}
.footer__direction-item:hover {
  background-color: #171717;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: white;
}
.footer__contact {
  margin-bottom: 20px;
}
.footer__contact-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(40, 40, 40, 0.8);
  margin-bottom: 7px;
}
.footer__contact-body {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__contact-body:hover {
  color: #7c7c7c;
}
.footer__lower-container {
  padding: 15px 0px 15px;
}
.footer__lower-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #000;
}
.footer__addition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}
.footer__right-reserved {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  text-align: right;
  color: #282828;
}
.footer__politics {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  text-align: right;
  color: #282828;
  text-decoration: underline;
}
.footer__politics:hover {
  color: #7c7c7c;
}

.portfolio {
  padding: 100px 0px;
}
.portfolio__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 64px;
}
.portfolio__title-decor {
  width: 46px;
  height: 4px;
  background-color: #171717;
}
.portfolio__title-text {
  font-weight: 800;
  font-size: 48px;
  color: #171717;
}
.portfolio__card {
  position: relative;
  max-width: 677px;
  background: #171717;
  padding: 36px 67px 27px 40px;
}
.portfolio__card-left {
  position: relative;
  max-width: 673px;
  background: white;
  -webkit-box-shadow: 0 6px 26px -5px rgba(97, 61, 2, 0.4);
  box-shadow: 0 6px 26px -5px rgba(54, 54, 54, 0.4);
  padding: 36px 67px 27px 40px;
  margin: 0px 0px 0px auto;
}
.portfolio__overhead {
  font-weight: 400;
  font-size: 24px;
  color: #f4f4f4;
}
.portfolio__card-title {
  font-weight: 400;
  font-size: 48px;
  color: #f4f4f4;
  margin-bottom: 14px;
}
.portfolio__text {
  max-width: 567px;
  font-weight: 400;
  font-size: 24px;
  color: #f4f4f4;
  margin-bottom: 67px;
}
.portfolio__btn {
  cursor: pointer;
  max-width: 382px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  border-radius: 10px;
  background-color: white;
  padding: 17.5px 0px;
  text-align: center;
  margin: 0px auto;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.portfolio__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.portfolio__btn-text {
  font-weight: 500;
  font-size: 16px;
  color: #171717;
}
.portfolio__text-black {
  color: #171717;
}
.portfolio__btn-black {
  background-color: #171717;
}
.portfolio__text-white {
  color: white;
}
.portfolio__card-decor1 {
  position: absolute;
  top: -40px;
  right: -40px;
}
.portfolio__card-decor2 {
  position: absolute;
  bottom: -40px;
  left: -40px;
}
.portfolio__card-decor1-black {
  position: absolute;
  top: 0px;
  left: 0px;
}
.portfolio__card-decor2-black {
  position: absolute;
  bottom: -1px;
  right: -1px;
}
.portfolio__cards {
  position: relative;
}
.portfolio__scene {
  position: absolute;
  top: -250px;
  right: -150px;
  z-index: -100;
}

.test {
  color: aqua;
}