.footer {
    padding-top: 100px;

    &__upper-content {
        padding: 24px 0px 38px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    &__container {
    }

    &__columns {
        display: flex;
        justify-content: space-between;
    }

    &__main {
    }

    &__logo {
        margin-bottom: 15px;
    }

    &__timeline {
    }

    &__timeline-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 106%;
        letter-spacing: 0em;
        color: #282828;
        margin-bottom: 20px;
    }

    &__timeline-container {
        margin-bottom: 20px;
    }

    &__timeline-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 106%;
        letter-spacing: 0em;
        color: #282828;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__social {
        cursor: pointer;
        width: 30px;
        height: 30px;

        &:hover {
          svg {
            width: 30px;
            height: 30px;
          }
        }
        
        svg {
          transition: all .2s linear;
          width: 26px;
          height: 26px;
        }
    }

    &__nav {
    }

    &__nav-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 187%;
        color: #515151;
        margin-bottom: 18px;
    }

    &__nav-list {
    }

    &__nav-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 9px;
        color: #000;
        margin-bottom: 2px;

        &:hover {
            color: #7c7c7c;
            text-decoration: underline;

            .footer__nav-item-decor {
                background-color: #b6b6b6;
            }
        }
    }

    &__nav-item-decor {
        width: 9px;
        height: 1px;
        background-color: #171717;
    }

    &__nav-item-text {
        display: inline;
        font-weight: 400;
        font-size: 14px;
        line-height: 214%;
    }

    &__directions {
    }

    &__directions-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: rgba(40, 40, 40, 0.8);
        margin-bottom: 12px;
    }

    &__direction-list {
        display: flex;
        align-items: center;
        gap: 6px;
        flex-wrap: wrap;
        max-width: 367px;
    }

    &__direction-item {
        cursor: pointer;
        border: 1px solid #424046;
        border-radius: 5px;
        padding: 4px 10px;

        font-weight: 500;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: -0.02em;
        color: #282828;

        &:hover {
            background-color: #171717;
            transition: all 0.2s linear;
            color: white;
        }
    }

    &__contacts {
    }

    &__contact {
        margin-bottom: 20px;
    }

    &__contact-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: rgba(40, 40, 40, 0.8);
        margin-bottom: 7px;
    }

    &__contact-body {
        display: inline-block;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
            color: #7c7c7c;

            .footer__contact-icon {
                transform: scale(1.3);
                rotate: 10deg;
            }
        }
    }

    &__contact-icon {
        transition: all 0.1s linear;
        width: 25px;
        height: 25px;

        svg {
          width: 25px;
          height: 25px;
        }
    }

    &__contact-text {
    }

    &__lower-container {
        padding: 15px 0px 15px;
    }

    &__lower-content {
        display: flex;
        justify-content: space-between;
    }

    &__copyright {
        font-weight: 400;
        font-size: 16px;
        line-height: 187%;
        color: #000;
    }

    &__addition {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    &__right-reserved {
        font-weight: 400;
        font-size: 16px;
        line-height: 187%;
        text-align: right;
        color: #282828;
    }

    &__politics {
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 187%;
        text-align: right;
        color: #282828;
        text-decoration: underline;

        &:hover {
            color: #7c7c7c;
        }
    }
}
