.services {
    padding: 50px 0px;

    &__content {
        display: flex;
        align-items: stretch;
        gap: 27px;
    }
}

.active-item {
    max-width: 452px !important;
}

.active-item .item-service__title {
    text-decoration: underline;
}

.active-item .item-service__button {
    display: flex;
    justify-content: space-between;
}

.active-item .item-service__arrow {
    display: block;
}

.item-service {
    max-width: 271px;
    position: relative;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #171717;
    width: 100%;
    cursor: pointer;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.2s linear;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-30%);
        left: 0;
        background: url("../images/services/decor-white-small.png") 0 0 no-repeat;
        width: 100%;
        height: 100%;
        transition: all 0.2s linear;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-30%);
        left: 0;
        background: url("../images/services/decor-white-small.png") 0 0 no-repeat;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.2s linear;
    }

    &__icon {
        position: absolute;
        top: 45px;
        right: 45px;
        padding-bottom: 10px;
        border-bottom: 3px solid #fff;
        width: 40px;
        text-align: center;

        img {
            width: 21px;
            height: 21px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 48px;
        color: #f4f4f4;
        margin-bottom: 15px;
    }

    &__text {
        font-weight: 300;
        font-size: 20px;
        color: #f4f4f4;
        margin-bottom: 40px;
        max-width: 220px;
    }

    &__button {
        width: 100%;
        text-align: center;
        padding: 17px 25px;
        background-color: #fff;
    }

    &__button-text {
        font-weight: 500;
        font-size: 16px;
        color: #171717;
    }

    &__arrow {
        display: none;
    }
}

.active-item.item-service {
    &::before {
        background: url("../images/services/decor-white.png") 0 0 no-repeat !important;
        transition: all 0.2s linear;
    }

    &::after {
        background: url("../images/services/decor-white.png") 0 0 no-repeat !important;
        transition: all 0.2s linear;
    }
}

.item-service-white {
    box-shadow: 0 8px 4px 2px rgba(0, 0, 0, 0.25);
    background: #fff;
}

.item-service-white .item-service__title {
    color: #171717;
}

.item-service-white .item-service__icon {
    border-color: #171717;
}

.item-service-white .item-service__text {
    color: #171717;
}

.item-service-white .item-service__button {
    background-color: #171717;
}

.item-service-white .item-service__button-text {
    color: #fff;
}

.item-service-white {
    &::before {
        background: url("../images/services/decor-black-small.png") 0 0 no-repeat;
        transition: all 0.2s linear;
    }

    &::after {
        background: url("../images/services/decor-black-small.png") 0 0 no-repeat;
        transition: all 0.2s linear;
    }
}

.active-item.item-service-white {
    &::before {
        background: url("../images/services/decor-black.png") 0 0 no-repeat !important;
        transition: all 0.2s linear;
    }

    &::after {
        background: url("../images/services/decor-black.png") 0 0 no-repeat !important;
        transition: all 0.2s linear;
    }
}

/* ============================================================================== */

@media (max-width: 1250px) {
    .services {
        &__content {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            margin: 0px auto;
        }

        #item-3 {
            order: 1;
        }
    }
}

@media (max-width: 960px) {
    #item-3 {
        order: initial !important;
    }
}

@media (max-width: 768px) {
    .item-service {
        height: 500px;
    }

    .item-service::before {
        margin-top: -45px;
    }

    .item-service__icon {
        top: 30px;
    }

    .item-service__text {
        max-width: inherit;
    }
}

@media (max-width: 528px) {
    .item-service {
        height: 450px;
    }

    .item-service::before {
        margin-top: -70px;
    }

    .item-service__title {
        font-size: 44px;
    }

    .item-service__text {
        font-size: 18px;
    }

    .item-service__icon {
        top: 21px;
        right: 24px;
    }
}
