.services {

		&__container {
		}

		&__title {
		}

		&__content {
		}

		&__item {
		}
}

.title {

		&__line {
		}

		&__text {
		}
}

.active-item {
}

.item-service {

		&__icon {
		}

		&__title {
		}

		&__text {
		}

		&__button {
		}

		&__button-text {
		}

		&__arrow {
		}
}

.item-service-white {
}
