.title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 81px;

    &__line {
        width: 46px;
        height: 4px;
        background-color: #171717;
    }

    &__text {
        font-weight: 500;
        font-size: 48px;
        text-align: center;
        color: #171717;
    }
}

@media (max-width: 1250px) {
    .title {
        justify-content: center;
        margin-bottom: 34px;
    }
}

@media (max-width: 768px) {
    .title {
        justify-content: left;
    }
}

@media (max-width: 528px) {
    .title__text {
        font-weight: 600 !important;
        font-size: 32px !important;
    }

    .title {
        margin-bottom: 34px !important;
    }
}
